<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="static/scripts/home.js" defer></script>
    <link rel="stylesheet" href="static/styles/home.css">

    <title>McWordTearer</title>
</head>
<body>
    <div class='column_holder'>
        <div class="block_column">
            <p>The block you want to get:</p>
            <form action="/result" method="post">
                <input list="block_name" name="block_name" id="blockname">
                <datalist id="block_name"></datalist>
                <button type="submit">Submit</button>
            </form>
            <div class="details">
                <p>Details:</p>
                <p id="details"></p>
            </div>
        </div>
        <div class="block_column">
            <p>All block ids:</p>
            <p id="all_data"></p>
        </div>
    </div>
</body>
</html>