<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logo.ico">
    
    <script type="text/javascript" src="static/scripts/locations.js" defer></script>
    <link rel="stylesheet" href="static/styles/locations.css">

    <title>blocktearer</title>
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
            <a href="/" onmouseover="this.style.cursor='pointer'" style="text-decoration: none; color: #0099ff; padding: 10px;"><b>home</b></a>
            <div class="locations" style="padding: 10px">
                <p style="color: white;">This is a screenshot from the world shown in <a href="https://youtu.be/b-TLpc5oyhg" onmouseover="this.style.cursor='pointer'" style="text-decoration: none; color: #0099ff; "><b>Myren Eario's video</b></a>.</p>
                <p style="color: white;">Where the bits get split depends on the location in the chunk: each woolblock shown below is a different location.</p>
                <p style="color: white;">Their color corresponds with the tab names on the result page from this website.</p>
                <img src="static/images/locations.png" width="960", height="495">
            </div>
        </div>       
        <footer id="footer">
            <div style="text-align: left; padding: 10px;">
                <a href="https://github.com/AsinusGrandus/blocktearer">
                    <img src="static/images/github.png" width="50" height="50">
                </a>
            </div>
            <div style="text-align: right; padding: 5px; color: #424549">
                <p><b>AsinusGrandus</b>/blocktearer</p>
            </div>
        </footer>
    </div>
</body>
</html>